.flexbin {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin: -2.5px; }
  .flexbin:after {
    content: '';
    flex-grow: 999999999;
    min-width: 300px;
    height: 0; }
  .flexbin > * {
    position: relative;
    display:block;
    height: 350px;  /*original 300*/
    margin: 10px;
    flex-grow: 1; }
    .flexbin > * > img {
      height: 350px;    /*original 300*/
      object-fit: cover;
      max-width: 100%;
      min-width: 100%;
      vertical-align: bottom; }
  .flexbin.flexbin-margin {
    margin: -10px; }
  @media (max-width: 1024px) {
    .flexbin {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;}
      .flexbin:after {
        content: '';
        flex-grow: 999999999;
        min-width: 150px;
        height: 0; }
      .flexbin > * {
        position: relative;
        display: block;
        height: 250px;  /*original 150*/
        /*margin: 2.5px;*/
        flex-grow: 1; }
        .flexbin > * > img {
          height: 250px;   /*original 150*/
          object-fit: cover;
          max-width: 100%;
          min-width: 100%;
          vertical-align: bottom; }
       }
  
