body {font-family: 'Montserrat', sans-serif; color: #333}
main {padding: 0 18px;}
* {box-sizing: border-box;}
img {max-width: 100%}


h1 {font-size: 28px; font-weight: 500; text-transform: uppercase; margin: 12px 0 35px}
nav h1 {padding-left: 2rem}
main h1 {position: relative; top: 0; padding-left: 50px}
h1 a {text-decoration: none; color: #333; background:none!important;}
h1 a:hover {color: #333}
h2 {font-size: 20px; font-weight: 500; text-transform: uppercase; margin-top: 50px}
h3 {font-size: 20px; font-weight: 500;}

/*menu*/
.drawer-nav {border: 0!important; font-weight: 500}
.drawer-hamburger {padding-left: 18px; padding-top: 18px; position: absolute;}
.drawer-overlay {background-color: rgba(0, 0, 0, .2)}
    .menu-item a {padding: .75rem 2rem; color: #999}
    .sub-menu a {line-height: 2rem; padding-left: 3rem; color: #999}
    ul ul .drawer-dropdown .menu-item a {padding-left: 3rem}
    .sub-menu ul {padding: 0; margin:0; list-style: none}
    .sub-menu ul a {padding: .3rem .3rem .3rem 6rem}
    .sub-menu {margin-bottom: 30px}
    .drawer-nav a:hover, .btnActivo {color: #333; text-decoration: none;}

i.fas {font-size: 14px; margin-left: 3px;}
.openMenu .close {left: 0;}
.openMenu .close i {margin-left: 78px}
.openMenu .open {left: 0}
.openMenu .open i {margin-left: 78px}

.openSubMenu .open i {margin-left: 135px}
.openSubMenu .close i {margin-left: 135px}


.social {margin-top: 40px}
.redes img {width: 20px; margin: 0 0 .5rem 2rem; opacity: .2}
a.redes:hover {background:none;}
a.redes:hover img {opacity: .4}



/*home*/
.fotos {margin-bottom: 20px}
.rslides {position: relative;list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0;}
.rslides li {-webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%;left: 0; top: 0;}
.rslides li:first-child {position: relative; display: block; float: left;}
.rslides img {display: block;height: 450px; float: left; min-width: 100%; border: 0; width: auto; position: relative;
    top: 0; left: 50%; transform: translateX(-50%);}


/*proyectos*/
.tituloObra {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.7); opacity: 0; transition: .3s}
.tituloObra span {font-size: 14px; color: #fff; text-align: center; position: absolute; top: 45%; left: 0; width: 100%}
.tituloObra:hover {opacity: 1}

.obra {position: relative; display: inline-block; margin-bottom: 30px}
.textos {font-size: 15px; line-height:22px}
.textos img {max-width: 100%}
.textos a {color: #888}
.textos a:hover {color: #333}

.ampliadas-centradas {text-align: center}
.ampliadas-centradas img {max-width: 100%;}

/*contacto*/
.formContacto {max-width: 500px}
.formContacto input {font-family: 'Montserrat', sans-serif;display: block; width: 100%; height: 40px; font-size: 14px; color: #999; padding: 5px; margin-bottom: 15px; border: 1px solid #999;}
.formContacto textarea {font-family: 'Montserrat', sans-serif; display: block; width: 100%; height: 200px; font-size: 14px; color: #999; padding: 5px; margin-bottom: 15px; border: 1px solid #999; font-family: 'Montserrat', sans-serif;}
.formContacto input.btnEnviar {display: inline-block;  border:0; background-color: #bbb; color: #fff; border-radius: 4px; text-transform: uppercase;}
.formContacto input.btnEnviar:hover {background-color: #ccc}
.praxis {margin-top: 50px; margin-bottom: 10px}



@media (min-width: 720px) {
.rslides img {height: auto; width: 100%}
}

@media (min-width: 1024px) {
.drawer--sidebar .drawer-nav {float: left; width: 290px}
main h1 {display: none;}
main {margin: 40px 5% 60px 290px; padding: 0 32px 0 0}
nav h1 {margin-top:35px;}
}

@media (min-width: 1200px) {
    .drawer--sidebar .drawer-nav {
        width: 290px;
    }
}