/*
Theme Name: Maria Santi
Theme URI: 
Author: Federico Gonzalez
Author URI: https://laurachuburu.com.ar/
Description: Plantilla para sitio web de Maria Santi
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: 
Text Domain: mariasanti
*/

body {font-family: 'Montserrat', sans-serif; color: #333}
main {padding: 0 18px;}
* {box-sizing: border-box;}
img {max-width: 100%}


h1 {font-size: 28px; font-weight: 500!important; text-transform: uppercase; margin: 12px 0 35px}
nav h1 {padding-left: 2rem}
main h1 {position: relative; top: 0; padding-left: 50px}
h1 a {text-decoration: none; color: #333; background:none!important;}
h1 a:hover {color: #333}
h2 {font-size: 20px; font-weight: 500; text-transform: uppercase; margin-top: 50px}
h3 {font-size: 20px; font-weight: 500;}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}

/* Header */
    .menu-item a {
        text-transform: lowercase;
    }
    .current-menu-item a {
        color: #333!important;
    }
    .sub-menu .menu-item a{
        padding: 0 0 0 3rem!important;
    }
    .sub-menu .menu-item-has-children a {
        padding: .75rem 2rem .75rem 3rem!important;
    }
    .openSubMenu .menu-item a {
        padding: .3rem .3rem .3rem 6rem!important;
    }


.menu-item{
    position: relative;
}

.expand {
 display: block !important; 
}
 
.openMenu .open{
 display: none;
 position: absolute;
 left: 78px;
 top:0;
 line-height: 38px;
 font-size: 20px;
 cursor: pointer;
 width: 100%;
 color:#999;
}
.openMenu .close{
 display: none;
 position: absolute;
 left: 78px;
 top:0;
 line-height: 53px;
 font-size: 20px;
 cursor: pointer;
 width: 100%;
 color:#999;
}

.openSubMenu .open{
 display: none;
 position: absolute;
 left: 129px;
 top:0;
 line-height: 52px;
 font-size: 20px;
 cursor: pointer;
 width: 100%;
 color:#999;
}
.openSubMenu .close{
 display: none;
 position: absolute;
 left: 129px;
 top:0;
 line-height: 66px;
 font-size: 20px;
 cursor: pointer;
 width: 100%;
 color:#999;
}
 
li .sub-menu{
 display: none;
 margin-bottom: 0;
}


.visible {
 display: block!important;
}
/* Contacto */
    .wpcf7-form {max-width: 500px}
    .wpcf7-form input {font-family: 'Montserrat', sans-serif;display: block; width: 100%; height: 40px; font-size: 14px; color: #999; padding: 5px; margin-bottom: 15px; border: 1px solid #999;}
    .wpcf7-form textarea {font-family: 'Montserrat', sans-serif; display: block; width: 100%; height: 200px; font-size: 14px; color: #999; padding: 5px; margin-bottom: 15px; border: 1px solid #999; font-family: 'Montserrat', sans-serif;}
    .wpcf7-form input.btnEnviar {display: inline-block;  border:0; background-color: #bbb; color: #fff; border-radius: 4px; text-transform: uppercase;}
    .wpcf7-form input.btnEnviar:hover {background-color: #ccc}
    .praxis {margin-top: 50px; margin-bottom: 10px}

/* drawer open*/
    
.drawer-caret-open {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.drawer-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
